header{
    background: blue;
    width: 100%;
    height: 50px;
    display: inline-flex;
}

p{
    position: relative;
    margin: auto;
}

img{
    position: relative;
    width: 20px;
    height: 20px;
    margin: auto;
}